<div>GRID</div>
<common-template
  [entity]="entity"
  [disable_activation_button]="disable_activation_button"
  [disable_delete_button]="disable_delete_button"
  [disable_edit_button]="disable_edit_button"
  [disable_view_button]="disable_view_button"
  [enable_coworker_button]="enable_coworker_button"
  [enable_testimonials_button]="enable_testimonials_button"
  [enable_building_blocks_button]="enable_building_blocks_button"
  [disable_gallery_controls]="disable_gallery_controls"
  [complaint_mode]="complaint_mode"

  xmlns:filtersMode="http://www.w3.org/1999/xhtml">
</common-template>

<!--(viewEvent)="view($event)"-->
<!--(edit_formEvent)="edit_form($event)"-->
<!--(deleteEvent)="delete($event)"-->
<!--(reportEvent)="report($event)"-->
<!--(coworkersEvent)="coworkers($event)"-->
<!--(testimonialsEvent)="testimonials($event)"-->
<!--(building_blocksEvent)="building_blocks($event)"-->
<!--(view_galleryEvent)="view_gallery($event)"-->
<!--(view_whatsappEvent)="view_whatsapp($event)"-->
<!--(view_injectorEvent)="view_injector($event)"-->
<!--(toggle_activeEvent)="toggle_active($event)"-->
<!--(toggle_collectionEvent)="toggle_collection($event)"-->

<mat-sidenav-container>

  <ngx-datatable
    class="{{getTableHeight()}} material expandable"
    [rows]="rows_data"
    [columnMode]="'force'"
    [columns]="data_columns"
    [count]="20"
    [externalPaging]="true"
    [rowHeight]="50"
    [headerHeight]="120"
    [footerHeight]="120"
    [virtualization]="false"
    [messages]="{emptyMessage:'Ничего не найдено',totalMessage :'всего',selectedMessage :'выбрано'}"
    [limit]="0"
    [offset]="1"
    [scrollbarH]="true"
    [scrollbarV]="true"
  ></ngx-datatable>

</mat-sidenav-container>
